
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-ny5 {
  width: 100%;
  height: 344.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .home-ynf {
    width: 197.3rem;
    height: 299.9rem;
    position: absolute;
    left: 0;
    top: 0;

    .homee-aAB {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 144rem;

      .home-sf5 {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:dac6f04bcfecc27acf40b090b998c0dc7772dc79');
        flex-shrink: 0;
        padding: 0rem 6.1rem 0rem 3.9rem;
        display: flex;
        align-items: flex-start;
        background-size: 100% 100%;
        box-sizing: border-box;
        width: 100%;

        .mirror-remove-1-wuq {
          margin-right: 35.25rem;
          width: 43.3rem;
          height: 57.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-vuth-3xs {
          margin-top: 7.7rem;
          width: 55.45rem;
          flex-shrink: 0;

          .auto-group-wnoy-Anb {
            margin: 0rem 0rem 11.5rem 3.1rem;
            display: flex;
            align-items: center;

            .home-JA3 {
              text-align: center;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.5;
              color: #ffffff;
              flex-shrink: 0;
              margin: 0.4rem 5.1rem 0rem 0rem;
              cursor: pointer;
              font-size: 2.4rem;
              font-weight: 800;
            }
            .about-hhy {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.9rem;
              cursor: pointer;
              text-align: center;
              line-height: 1.5;
              font-size: 2.4rem;
              font-weight: 800;
            }
            .works-bYT {
              white-space: nowrap;
              cursor: pointer;
              font-size: 2.4rem;
              font-weight: 800;
              line-height: 1.5;
              color: #ffffff;
              margin-right: 3.65rem;
              text-align: center;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .contacts-vqd {
              margin-bottom: 0.4rem;
              text-align: center;
              font-weight: 800;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              cursor: pointer;
              font-size: 2.4rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .hi-its-me-nikki-altura-aspiring-web-developer-rDV {
            text-align: center;
            font-size: 3.2rem;
            line-height: 1.5;
            font-style: italic;
            color: #ffffff;
            width: 100%;
            max-width: 41.9rem;
            font-weight: 900;
            font-family: Poppins, 'Source Sans Pro';

            .hi-its-me-nikki-altura-aspiring-web-developer-rDV-sub-0 {
            }
            .hi-its-me-nikki-altura-aspiring-web-developer-rDV-sub-1 {
              color: #ffac4b;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 3.2rem;
              font-weight: 900;
              line-height: 1.5;
              font-style: italic;
            }
          }
        }
      }
      .auto-group-t75r-46b {
        padding: 1.5rem 2.1rem 1rem 5.75rem;
        width: 100%;
        height: 14.5rem;
        display: flex;
        align-items: center;
        background-color: #dcc2a2;
        flex-shrink: 0;
        box-sizing: border-box;

        .as-an-it-student-pursuing-web-development-im-stepping-into-a-dynamic-and-ever-evolving-field-that-combines-creativity-and-technical-skills-im-passionate-about-user-experience-ux-and-strive-to-create-websites-that-are-intuitive-user-friendly-and-accessible-to-all-YXZ {
          color: #055dc0;
          margin-right: 4.65rem;
          text-align: center;
          font-size: 2rem;
          font-style: italic;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 83.5rem;
          font-weight: 900;
          line-height: 1.5;

          .as-an-it-student-pursuing-web-development-im-stepping-into-a-dynamic-and-ever-evolving-field-that-combines-creativity-and-technical-skills-im-passionate-about-user-experience-ux-and-strive-to-create-websites-that-are-intuitive-user-friendly-and-accessible-to-all-YXZ-sub-0 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.5;
            font-style: italic;
            color: #055dc0;
          }
          .as-an-it-student-pursuing-web-development-im-stepping-into-a-dynamic-and-ever-evolving-field-that-combines-creativity-and-technical-skills-im-passionate-about-user-experience-ux-and-strive-to-create-websites-that-are-intuitive-user-friendly-and-accessible-to-all-YXZ-sub-1 {
            font-weight: 800;
            line-height: 1.5;
            font-style: italic;
            color: #f5f5f5;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2rem;
          }
        }
        .auto-group-nwaf-6sq {
          flex-shrink: 0;
          margin: 1rem 3.9rem 2.4rem 0rem;
          box-sizing: border-box;
          padding: 2rem 6.1rem 0.6rem 5.4rem;
          height: calc(100% - 3.4rem);
          background-color: #d9d9d9;
          border-radius: 2rem;

          .download-cv-bJo {
            max-width: 10.4rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.5;
            color: #055dc0;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-ustu-UNb {
          width: 22.2rem;
          height: calc(100% - 3.4rem);
          background-color: #d9d9d9;
          border-radius: 2rem;
          flex-shrink: 0;
          margin: 1rem 0rem 2.4rem 0rem;
          box-sizing: border-box;
          padding: 1.5rem 6.65rem 1.1rem 7.35rem;

          .contact-me-MBV {
            line-height: 1.5;
            color: #055dc0;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 8.2rem;
            cursor: pointer;
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
          }
        }
      }
    }
    .about-fCB {
      width: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-cqwx-2Hd {
        width: 100%;
        height: 77.8rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-5-XVH {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 197.3rem;
          height: 60.4rem;
        }
        .as-a-web-developer-student-my-life-divided-into-the-world-of-coding-designing-and-building-websites-that-are-not-only-visually-appealing-but-also-functional-and-user-friendly-ive-already-learned-some-programming-languages-like-html-css-and-javascript-which-form-the-foundation-of-web-development-my-journey-involved-creating-responsive-and-interactive-websites-understanding-user-experience-ux-principles-and-implementing-the-latest-web-technologies-and-frameworks-whether-its-front-end-development-back-end-development-or-full-stack-development-i-have-the-opportunity-to-bring-ideas-to-life-on-the-web-web-development-field-offers-endless-opportunities-for-growth-and-innovation-so-embrace-the-challenges-stay-curious-and-let-your-passion-for-web-development-guide-you-towards-a-successful-and-fulfilling-career-fLb {
          height: 48rem;
          position: absolute;
          font-weight: 500;
          color: #f5f5f5;
          font-family: Poppins, 'Source Sans Pro';
          width: 71.1rem;
          left: 4.95rem;
          top: 10rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1.5;
        }
        .sungay-remove-1-oUj {
          left: 97.3rem;
          top: 9.7rem;
          object-fit: cover;
          vertical-align: top;
          width: 40.7rem;
          height: 50.7rem;
          position: absolute;
        }
        .lets-talk-j7V {
          white-space: nowrap;
          width: 14.3rem;
          left: 97.15rem;
          font-size: 2.4rem;
          font-weight: 900;
          line-height: 1.5;
          color: #ffac4b;
          font-family: Poppins, 'Source Sans Pro';
          cursor: pointer;
          position: absolute;
          text-align: center;
          font-style: italic;
          height: 3.6rem;
          top: 39.2rem;
        }
        .about-me--ot3 {
          color: #ffac4b;
          white-space: nowrap;
          width: 28rem;
          height: 6rem;
          top: 2.5rem;
          font-weight: 900;
          line-height: 1.5;
          font-style: italic;
          position: absolute;
          left: 23.75rem;
          text-align: center;
          font-size: 4rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .rectangle-7-7dq {
          background-color: #26394d;
          width: 143.8rem;
          height: 17.7rem;
          position: absolute;
          left: 0;
          top: 60.1rem;
        }
        .vector-QN3 {
          top: 23.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 98.2rem;
        }
        .uil-facebook-v5V {
          position: absolute;
          left: 100.8rem;
          top: 28.9rem;
          overflow: hidden;
          width: 4.8rem;
          height: 4.8rem;
        }
        .my-works--eGP {
          white-space: nowrap;
          height: 6rem;
          left: 53.95rem;
          font-weight: 900;
          line-height: 1.5;
          font-style: italic;
          color: #ffac4b;
          font-family: Poppins, 'Source Sans Pro';
          width: 34.4rem;
          position: absolute;
          top: 64.6rem;
          text-align: center;
          font-size: 4rem;
        }
        .these-are-my-works-during-my-journey-as-student-9iw {
          width: 60.1rem;
          height: 3.6rem;
          left: 39.3rem;
          top: 71.5rem;
          text-align: center;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 400;
          font-style: italic;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-ctax-1FM {
        width: 143.8rem;
        height: 149.9rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-6-JVM {
          position: absolute;
          top: 0;
          background-image: url('REPLACE_IMAGE:9b0b416eec743e11591d5c37cb7131f23f2ffb8c');
          width: 143.8rem;
          height: 67.3rem;
          left: 0;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
        }
        .rectangle-8-Bp3 {
          vertical-align: top;
          width: 143.8rem;
          height: 67.3rem;
          position: absolute;
          left: 0;
          top: 82.6rem;
          object-fit: cover;
        }
        .rectangle-8-j4s {
          vertical-align: top;
          width: 37.5rem;
          height: 27.2rem;
          position: absolute;
          left: 7.7rem;
          top: 2.6rem;
          object-fit: cover;
        }
        .rectangle-14-rvB {
          left: 52.5rem;
          top: 2.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 37.5rem;
          height: 27.2rem;
          position: absolute;
        }
        .rectangle-15-oKd {
          width: 37.5rem;
          height: 27.2rem;
          position: absolute;
          left: 97.3rem;
          top: 2.6rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-10-8sh {
          height: 7.2rem;
          position: absolute;
          left: 59.7rem;
          top: 50.8rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          width: 24.4rem;
        }
        .rectangle-17-qn7 {
          width: 24.4rem;
          height: 7.2rem;
          position: absolute;
          left: 103.9rem;
          top: 50.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
        .rectangle-13-nBZ {
          top: 50.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          width: 24.4rem;
          height: 7.2rem;
          position: absolute;
          left: 14rem;
        }
        .rectangle-11-tEb {
          width: 37.5rem;
          height: 11.3rem;
          position: absolute;
          left: 52.5rem;
          top: 34.4rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
        }
        .rectangle-16-osM {
          left: 97.3rem;
          top: 34.4rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 37.5rem;
          height: 11.3rem;
          position: absolute;
        }
        .rectangle-12-wCs {
          width: 37.5rem;
          height: 11.3rem;
          position: absolute;
          left: 7.7rem;
          top: 34.4rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
        }
        .rectangle-18-GW3 {
          width: 37.5rem;
          height: 11.3rem;
          position: absolute;
          left: 7.7rem;
          top: 34.4rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
        }
        .view-page-zwq {
          position: absolute;
          left: 20.85rem;
          top: 52.2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #26394d;
          white-space: nowrap;
          width: 11.2rem;
          height: 3rem;
          text-align: center;
          font-size: 2rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .rectangle-35-6V5 {
          background-color: #d9d9d9;
          border-radius: 1rem;
          width: 24.4rem;
          height: 7.2rem;
          position: absolute;
          left: 5rem;
          top: 134.7rem;
        }
        .view-page-S39 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 11.85rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.5;
          color: #26394d;
          width: 11.2rem;
          height: 3rem;
          top: 136.6rem;
          font-size: 2rem;
        }
        .rectangle-37-ZNf {
          width: 24.4rem;
          height: 7.2rem;
          position: absolute;
          left: 42rem;
          top: 135.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
        .view-page-hUs {
          width: 11.2rem;
          height: 3rem;
          text-align: center;
          font-weight: 700;
          color: #26394d;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 48.85rem;
          top: 137.2rem;
          font-size: 2rem;
          line-height: 1.5;
        }
        .rectangle-38-2GF {
          background-color: #d9d9d9;
          border-radius: 1rem;
          width: 24.4rem;
          height: 7.2rem;
          position: absolute;
          left: 78.1rem;
          top: 135rem;
        }
        .view-page-9rf {
          white-space: nowrap;
          width: 11.2rem;
          height: 3rem;
          top: 136.9rem;
          text-align: center;
          font-weight: 700;
          font-family: Poppins, 'Source Sans Pro';
          position: absolute;
          left: 84.95rem;
          font-size: 2rem;
          line-height: 1.5;
          color: #26394d;
        }
        .rectangle-41-f4K {
          background-color: #d9d9d9;
          border-radius: 1rem;
          width: 24.4rem;
          height: 7.2rem;
          cursor: pointer;
          position: absolute;
          left: 78.1rem;
          top: 135rem;
        }
        .view-page-NDd {
          text-align: center;
          width: 11.2rem;
          height: 3rem;
          position: absolute;
          left: 84.95rem;
          color: #26394d;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          top: 136.9rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .rectangle-43-qd1 {
          width: 24.4rem;
          height: 6.9rem;
          position: absolute;
          left: 114.4rem;
          top: 135.3rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
        .view-page-NN3 {
          left: 120.85rem;
          top: 136.7rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.2rem;
          height: 3rem;
          position: absolute;
          font-size: 2rem;
          color: #26394d;
        }
        .view-page-rY7 {
          top: 52.2rem;
          text-align: center;
          color: #26394d;
          left: 110.35rem;
          height: 3rem;
          position: absolute;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.2rem;
        }
        .view-page-ycj {
          white-space: nowrap;
          height: 3rem;
          position: absolute;
          left: 66.45rem;
          top: 52.5rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1.5;
          width: 11.2rem;
          font-weight: 700;
          color: #26394d;
          font-family: Poppins, 'Source Sans Pro';
        }
        .opportunity-to-showcase-my-creativity-such-as-editing-and-understanding-of-the-assigned-topic-h2w {
          width: 34.2rem;
          left: 10rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          height: 7.2rem;
          position: absolute;
          top: 36.6rem;
          text-align: center;
          font-size: 1.6rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .rectangle-25-aMd {
          top: 120.1rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 32.9rem;
          height: 11.3rem;
          position: absolute;
          left: 1.6rem;
        }
        .rectangle-26-g9m {
          left: 1.6rem;
          top: 120.1rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 32.9rem;
          height: 11.3rem;
          position: absolute;
        }
        .opportunity-to-enhance-my-ability-and-what-i-have-learned-and-this-is-my-working-calculator-zgF {
          width: 32.1rem;
          text-align: center;
          font-weight: 500;
          color: #ffffff;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          height: 7.2rem;
          position: absolute;
          left: 1.65rem;
          top: 121.8rem;
          font-size: 1.6rem;
        }
        .rectangle-29-5Bu {
          position: absolute;
          left: 36.9rem;
          top: 120.2rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 34.5rem;
          height: 11.3rem;
        }
        .rectangle-30-zpf {
          width: 34.5rem;
          height: 11.3rem;
          position: absolute;
          left: 36.9rem;
          top: 120.2rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
        }
        .opportunity-to-showcase-my-creativity-such-as-editing-and-understanding-of-the-assigned-topic-hUB {
          font-family: Poppins, 'Source Sans Pro';
          position: absolute;
          font-size: 1.6rem;
          font-weight: 500;
          top: 122.4rem;
          text-align: center;
          line-height: 1.5;
          color: #ffffff;
          width: 29.7rem;
          height: 7.2rem;
          left: 39.9rem;
        }
        .rectangle-33-nEj {
          top: 120.2rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 34.5rem;
          height: 11.3rem;
          position: absolute;
          left: 73.2rem;
        }
        .rectangle-34-6mD {
          width: 34.5rem;
          height: 11.3rem;
          position: absolute;
          left: 73.2rem;
          top: 120.2rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
        }
        .creating-a-divwhere-it-changes-color-if-you-click-a-button-tag-i-really-like-it-1NP {
          width: 27.6rem;
          height: 7.2rem;
          text-align: center;
          font-size: 1.6rem;
          color: #ffffff;
          position: absolute;
          left: 77.25rem;
          top: 122.4rem;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .rectangle-31-svP {
          left: 36.9rem;
          top: 120.2rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 34.5rem;
          height: 11.3rem;
          position: absolute;
        }
        .rectangle-32-QfR {
          height: 11.3rem;
          position: absolute;
          left: 36.9rem;
          top: 120.2rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 34.5rem;
        }
        .creating-a-todo-list-app-using-javascript-with-crud-create-read-update-delete-features-jhh {
          width: 29.4rem;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          font-weight: 500;
          height: 7.2rem;
          position: absolute;
          left: 40.05rem;
          top: 122.4rem;
          text-align: center;
          font-size: 1.6rem;
        }
        .creating-a-responsive-landing-page-using-html-css-and-javascript-to-add-functionality-to-my-website-bzo {
          width: 34.3rem;
          position: absolute;
          left: 98.45rem;
          top: 35.9rem;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          height: 7.2rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .simple-online-resume-using-html-and-css-only-to-widen-my-skills-about-web-development-tDD {
          left: 55.4rem;
          text-align: center;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          width: 31.6rem;
          height: 7.2rem;
          position: absolute;
          top: 36.5rem;
        }
        .rectangle-20-mno {
          height: 18rem;
          position: absolute;
          left: 0;
          top: 66.3rem;
          background-color: #121b2a;
          width: 143.8rem;
        }
        .rectangle-21-6aB {
          width: 32.8rem;
          height: 27.2rem;
          position: absolute;
          left: 1.6rem;
          top: 87.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-23-R6f {
          width: 32.7rem;
          height: 27.2rem;
          position: absolute;
          left: 37.8rem;
          top: 88.1rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-40-kud {
          left: 109.3rem;
          top: 88.1rem;
          object-fit: cover;
          vertical-align: top;
          width: 32.7rem;
          height: 27.2rem;
          position: absolute;
        }
        .rectangle-44-h4B {
          width: 33.6rem;
          height: 27.2rem;
          position: absolute;
          left: 73.2rem;
          top: 88.1rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-45-E47 {
          height: 11.4rem;
          position: absolute;
          left: 110.6rem;
          top: 120.1rem;
          box-shadow: 0 0.4rem 0.3rem #055dc0;
          background-color: #26394d;
          width: 31.4rem;
        }
        .creating-a-3-buttons-with-different-addeventlistener-i-found-myself-enjoying-doing-it-ijy {
          top: 121.7rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          color: #ffffff;
          left: 111.85rem;
          height: 7.2rem;
          position: absolute;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          width: 27.6rem;
        }
      }
    }
  }
  .rectangle-39-Pr7 {
    width: 143.8rem;
    height: 57.2rem;
    position: absolute;
    left: 0.2rem;
    top: 294.4rem;
    background-color: #704453;
  }
  .contact-me--8oh {
    white-space: nowrap;
    width: 37.4rem;
    position: absolute;
    text-align: center;
    font-style: italic;
    font-weight: 900;
    line-height: 1.5;
    color: #ffac4b;
    font-family: Poppins, 'Source Sans Pro';
    height: 6rem;
    left: 47.95rem;
    top: 299.1rem;
    font-size: 4rem;
  }
  .vector-3fm {
    vertical-align: top;
    width: 7.4rem;
    height: 4.5rem;
    position: absolute;
    left: 86.6rem;
    top: 313.1rem;
    object-fit: contain;
  }
  .location-on-PDq {
    top: 324.9rem;
    overflow: hidden;
    width: 30.7rem;
    height: 27.2rem;
    position: absolute;
    left: 83.7rem;
  }
  .vector-j2o {
    width: 7.3rem;
    height: 5.6rem;
    position: absolute;
    left: 12.3rem;
    top: 320.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .nikki-altura-Ykw {
    position: absolute;
    left: 21.9rem;
    top: 313.7rem;
    height: 3.6rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 15.5rem;
  }
  .nikki-altura-Tsu {
    height: 3.6rem;
    position: absolute;
    left: 95.9rem;
    font-weight: 700;
    color: #ffffff;
    width: 15.5rem;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    top: 313.8rem;
  }
  .nikkidichosoalturagmailcom-m7u {
    width: 39.4rem;
    top: 321.2rem;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    height: 3.6rem;
    position: absolute;
    left: 96rem;
    font-size: 2.4rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
  }
  .purok-riverside-brgy-mayao-castillo-lucena-city-3r7 {
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 35.8rem;
    position: absolute;
    left: 21.8rem;
    font-weight: 700;
    line-height: 1.5;
    height: 7.2rem;
    top: 320.5rem;
    font-size: 2.4rem;
  }
  .gmail-login-WUo {
    left: 85.5rem;
    top: 319.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 10.5rem;
    height: 8.2rem;
    position: absolute;
  }
  .speech-dJX {
    object-fit: contain;
    vertical-align: top;
    width: 11.6rem;
    height: 7.4rem;
    position: absolute;
    left: 10.2rem;
    top: 311.2rem;
  }
}
